# PostgreSQL example:
# postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/niamey_portal?schema=public"
ADMIN_EMAIL="superadmin@niamey.ne"
ADMIN_NAME="Super Admin Ville de Niamey"
ADMIN_PASSWORD="change-me-admin-password"
ADMIN_SECRET="change-me-admin-secret"
